

  <div class="container-fluid">
      <div class="container">
        <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <h1>Вход</h1>
          <mat-form-field appearance="standard">
            <mat-label>Логин</mat-label>
            <input matInput formControlName="email" id="email" type="email">
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Введите пароль</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div class="actions">
            <button mat-flat-button color="warn" type="submit" class="modal-action btn waves-effect"
            [disabled]="loginForm.invalid || loginForm.disabled">Войти</button>
          </div>
        </form>
      </div>
  </div>


