.modal-content {
  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;
    color: #242628;
    margin-bottom: 24px;
  }

  .inner {
    h4 {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 125%;
      color: #242628;
      margin-bottom: 24px;
    }

  }
}
