.step-one {

  &_header {
    h2 {
      color: #242628;

      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 125%;

      text-align: center;
    }
  }

  &_actions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    flex-wrap: wrap;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 24px;

      max-width: 336px;

      background: #FFFFFF;
      border-radius: 8px;

      flex: none;
      order: 0;
      flex-grow: 0;

      .icon {
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;
        margin-bottom: 40px;
        width: 288px;
      }

      .title {
        width: 288px;
        margin-bottom: 64px;

        h3 {
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 125%;

          text-align: center;

          color: #3D3F43;

          flex: none;
          order: 2;
          align-self: stretch;
          flex-grow: 0;
          margin: 0px 0px;
        }
      }
    }
  }
}
