body {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  width: 100%;
}

button {
  padding: 14px 24px;
  border-radius: 4px;
  border: unset;

  &.primary {
    background-color: #3176FF;
    color: white;
  }

  &.default {
    color: #3D3F43;
    background-color: transparent;
    border: 1px solid #D6D7DA;
    box-sizing: border-box;
  }

  &.warn {
    background-color: #ff313b;
    color: white;
  }
}

input {
  padding: 14px 24px;
  border-radius: 4px;
  border: unset;
  color: #3D3F43;
  background-color: transparent;
  border: 1px solid #D6D7DA;
  box-sizing: border-box;
}
